body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

img {
    width: 100px;
}

h1 {
    text-align: center;
    color: #010101;
    margin-bottom: 20px;
}

.product-item img {
    max-width: 150px;
    height: auto;

}

.product-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 60px;
    margin: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
    background-color: #fafafa;
    gap: 5%;
    height: 200px;
    margin-inline: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    flex-direction: row;


}

.product-item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-item h2 {
    color: #000000;
    font-size: 20px;
    margin-bottom: 10px;
}

.product-item p {
    display: flex;
    width: 200px;
    color: #070000;
    font-size: 20px;
    margin-bottom: 0px;


}

.product-item button {
    margin: 0 auto;
    width: 200px;
    background-color: #023312;
    color: white;
    border: none;
    padding: 1px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

button:hover {
    background-color: #b31800;
}

.product-list {
    padding: 20px;
}

.product-item {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.product-item img {
    max-width: 100px;
}

.new-product {
    width: 100%;
    margin-top: 30px;
}

.new-product input {

    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.new-product button {
    padding: 10px 20px;
    background-color: #023312;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.new-product button:hover {
    background-color: #b31800;
}